/* Widget styles on KusamaHub */
/* Sorted by categories and sub-categories */


/* Global styles */


/* Main page */
/* ⎿ Widgets */

/* Announce message */

/* Kusama Price */

/* Top creators */

/* Top projects */

/* Stats */

/* News */

/* Latest reviews */

/* Calendar */




/* Projects page */
/* ⎿ Widgets */

/* Projects */




/* Creators page */
/* ⎿ Widgets */

/* Creators */




/* Project page */
/* ⎿ Widgets */

/* Project card */

/* User rating */

/* Editors rating */

/* Vote rating */

/* Project stats */

/* Analytics: Most average */

/* Analytics: Price */

/* Project items (NFTs) */

/* Project calendar */

/* Project news */

/* Project reviews */

/* Project creator card */

/* Verify project */

/* Open on... */




/* Creator page */
/* ⎿ Widgets */

/* Creator card */

/* User rating */

/* Editors rating */

/* Vote rating */

/* Creator stats */

/* Analytics: Most average */

/* Analytics: Price */

/* Creator projects */

/* Creator calendar */

/* Creator news */

/* Creator reviews */

/* Verify creator */

/* Open on... */




/* Calendar page */
/* ⎿ Widgets */

/* Calendar card */




/* Tools page */
/* ⎿ Widgets */

/* Tool card */




/* Stats page */
/* ⎿ Widgets */

/* Stats */




/* Brand page */
/* ⎿ Widgets */

/* Brand */




/* Wiki page */
/* ⎿ Widgets */

/* Wiki */




/* Roadmap page */
/* ⎿ Widgets */

/* Roadmap */




/* Tasks page */
/* ⎿ Widgets */

/* Tasks */




/* Team page */
/* ⎿ Widgets */

/* Team */



